-Dorg.slf4j.simpleLogger.log.org.openapitools.codegen.DefaultCodegen=error
-Dorg.slf4j.simpleLogger.log.org.openapitools.codegen.utils.ExamplesUtils=error
-Daether.transport.http.retryHandler.count=3
-Daether.transport.http.retryHandler.interval=15000
-Daether.transport.http.retryHandler.intervalMax=120000
-Daether.transport.http.retryHandler.serviceUnavailable=429,503
