COURTSIDE_VERSION=
POSTGRES_PASSWORD=

COURTSIDE_DOMAIN=courts.example.org
COURTSIDE_TIME_ZONE=Europe/Berlin

# COURTSIDE_MEMORY=1g
# COURTSIDE_PORT=8080
# COURTSIDE_COOKIE_SECURE=true
# COURTSIDE_SOURCE_URL=https://github.com/jegr78/courtside
